@import '_media.scss';

#root {
  text-align: center;
}

main {
  .wrapper {
    .sort-wrapper {
      margin: 20px 0;
      padding: 20px 0;
      padding-left: 30px;
      border-radius: 20px;
      text-align: left;
      background-color: #1a1576;
      display: flex;
      flex-direction: column;
      h3 {
        margin-left: 10px;
        margin-bottom: 15px;
      }

      .sort-btn {
        color: white;
        margin-right: 20px;
        background-color: #0b00de;
      }
    }
    .load-more {
      color: white;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}
