@import '_media.scss';

.path-wrap-inner {
  position: relative;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include large {
    flex-direction: row;
  }
  .text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    @include large {
      margin-top: 0;
      width: 50%;
    }
    .course {
      &.subline {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &.intro-text {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
  img {
    border-radius: 50px;
    @include large {
      margin-right: 20px;
    }
  }
}
